<!DOCTYPE html>
<html lang="en">
<style type="text/css">
	.speedChart{
		background-color: rgba(0, 0, 255, 0.5);
	}
	.midBar{
		border-style: solid;
		border-top-width: 0px;
		border-bottom-width: 1px;
		border-right-width: 0px;
		border-left-width: 0px;
		height: 40px;
		width: 100%
	}
	.leftBar{
		float: left;
	}
	.rightIBar{
		float: right;
	}
	.task-list{
		width: 100%
	}
</style>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>aria2web</title>
	<link rel="stylesheet" href="https://unpkg.com/purecss@0.6.1/build/pure-min.css" integrity="sha384-CCTZv2q9I9m3UOxRLaJneXrrqKwUNOzZ6NGEUMwHtShDJ+nCoiXJCAgi05KfkLGY" crossorigin="anonymous">
</head>
<body style="margin: 0px">
	<div id="app">
		<canvas id="canvas" style="width: 100%; height: 200px" class="speedChart"></canvas>
		<div class="midBar">
			<div class="leftBar">
				<button class="pure-button" v-on:click="addTask">add</button>
			</div>
			<div class="rightIBar">
				<span v-show="globalStat.downloadSpeed > 0">down:{{ downLoad }}</span>
				<span v-show="globalStat.downloadSpeed > 0 && globalStat.uploadSpeed > 0">/</span>
				<span v-show="globalStat.uploadSpeed > 0">up:{{ upLoad }}</span>
				<span>  version: {{ version }}</span>
				<button class="pure-button">setting</button>
			</div>
		</div>
		</div>
		<!-- TODO:下面这部分网页要组件化 -->
		<div id="activeTasks"> <!-- v-if="globalStat.numActive > 0"> -->
			<table class="pure-table pure-table-horizontal task-list">
				<tbody>
					<template v-for="(task, index) in active">
						<task-detail v-bind:task-detail="task"></task-detail>
					</template>
				</tbody>
			</table>
		</div>
	<!-- </div> -->
	<script src="./dist/build.js"></script> 
</body>
</html>
